.header-t {
  position: relative;
  background-color: white;
  border-bottom: 2px solid var(--gray);
  z-index: 60;
  @include laptop-min {
    display: none;
  }
  &__wrapper {
    @include flex-between;
  }
  &__list {
    display: flex;
    gap: 50px;
    @include laptop-middle {
      gap: 30px;
    }

    a {
      font-size: 16px;
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
}

.header {
  background-color: white;
  padding: 13px 0px;
  z-index: 90;

  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;

  &._hide {
    @media (min-width: 576px) {
      transform: translateY(-100%);
    }
  }
  &._shadow {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
  }

  @include tablet-min {
    position: sticky;
    top: 0;
  }

  &__wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    @include laptop-min {
      @include flex-between;
    }
  }
  &__btn {
    @include laptop-min {
      display: none;
    }
  }
  &__logo {
    display: block;
    margin: 0 auto;
    width: 295px;

    @include laptop-middle {
      width: 230px;
    }
    @include laptop-min {
      margin: 0;
    }
    @include tablet {
      width: 200px;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    gap: 50px;
    @include laptop-middle {
      gap: 30px;
    }
    @include laptop-min {
      display: none;
    }
  }
  &__social {
    display: flex;
    gap: 30px;
    @include laptop-middle {
      gap: 20px;
    }
  }
  &__social-btn {
    display: block;
    width: 24px;
    height: 24px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__contacts-info {
  }
  &__tel {
    font-weight: 500;
    font-size: 20px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
  }
  &__mail {
    display: block;
    width: fit-content;
    margin: 0px 0px 0px auto;
    font-size: 15px;
    color: #90959e;

    transition: color 0.3s ease;
    @include hover {
      color: var(--dark);
    }
  }
  &__mob {
    display: flex;
    gap: 15px;

    @media (min-width: 992px) {
      display: none;
    }
  }
  &__mob-btn {
    width: 30px;
    height: 30px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.header-b {
  position: relative;
  background-color: var(--gray);
  z-index: 60;

  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;

  @include laptop-min {
    display: none;
  }
  @media (min-width: 576px) {
    position: sticky;
    top: 0;
  }

  &._hide {
    @media (min-width: 576px) {
      transform: translateY(-100%);
    }
  }
  &._shadow {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    @include laptop {
      gap: 30px;
    }
    @include laptop-middle {
      gap: 20px;
    }
  }
  &__btn-services {
    @include hover {
      .header-b__services {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__btn-services-flex {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 22px 0px;

    font-size: 18px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
    @include laptop {
      font-size: 16px;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 50px;

    @include laptop {
      gap: 30px;
    }
    @include laptop-middle {
      gap: 20px;
    }

    a {
      font-size: 18px;

      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
      @include laptop {
        font-size: 16px;
      }
    }
  }
  &__btn {
    margin-left: auto;
  }
  &__services {
    position: absolute;
    display: flex;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    overflow-y: auto;
    z-index: 50;

    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);

    transition:
      transform 0.4s ease,
      opacity 0.4s ease,
      visibility 0.4s ease;

    &._open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  &__services-sidebar {
    padding: 40px;
    width: 450px;
    border-right: 2px solid var(--gray);
    flex-shrink: 0;
    @include laptop-middle {
      padding: 25px;
      width: 360px;
    }
  }
  &__services-btn {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 24px;
    width: 100%;
    gap: 20px;

    font-size: 16px;

    transition: background-color 0.3s ease;

    @include hover {
      background-color: var(--gray);
    }
    &._active {
      background-color: var(--gray);
    }

    &::before {
      position: absolute;
      content: "";
      height: 30px;
      width: 4px;
      left: 0;
      background-color: #45b4fd;
      border-radius: 0px 4px 4px 0px;
    }
  }
  &__services-body {
    padding: 40px;
    @include laptop-middle {
      padding: 25px;
    }
  }
  &__services-list {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    opacity: 0;

    transition: opacity 0.3s ease;

    &._active {
      display: flex;
    }
    @include laptop-middle {
      gap: 20px;
    }

    li {
      flex: 0 1 410px;
      @include desktop {
        flex-basis: calc(50% - 15px);
      }

      a {
        font-size: 16px;
        transition: color 0.3s ease;
        @include hover {
          color: var(--primary);
        }

        @include laptop-middle {
          font-size: 14px;
        }
      }
    }
  }
  &__services-overlay {
    position: fixed;
    inset: 0;
    z-index: 40;
    backdrop-filter: blur(10px);
    background: rgba(4, 31, 61, 0.5);

    opacity: 0;
    visibility: hidden;

    transition:
      opacity 0.4s ease,
      visibility 0.4s ease;

    &._active {
      opacity: 1;
      visibility: visible;
    }
  }
}
