.s-adv {
  @include laptop-min {
    overflow: hidden;
  }
  &__grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 100px;
    @include laptop {
      margin-bottom: 80px;
    }
    @include laptop-min {
      margin-bottom: 60px;
    }
    @include tablet {
      gap: 20px;
      row-gap: 30px;
    }

    &._grid-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;
      row-gap: 40px;
      .s-adv__item {
        max-width: none !important;
        width: 100% !important;
      }

      @include laptop-min {
        gap: 40px;
        grid-template-columns: repeat(2, 1fr);
      }
      @include tablet-min {
        grid-template-columns: 1fr;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: fit-content;
    max-width: 250px;
    @include tablet {
      width: calc(50% - 10px);
    }
  }
  &__item-num {
    position: relative;
    padding: 10px 20px;
    width: fit-content;

    font-weight: 700;
    font-size: 80px;
    color: var(--primary);

    z-index: 1;

    @include laptop-min {
      font-size: 54px;
    }
    @include tablet-min {
      font-size: 40px;
      padding: 10px 15px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      z-index: -1;
      @include tablet {
        width: 25px;
        height: 25px;
      }
    }
    &::before {
      left: 0;
      bottom: 0;
      border-left: 1px solid var(--primary-l);
      border-bottom: 1px solid var(--primary-l);
    }
    &::after {
      top: 0;
      right: 0;
      border-top: 1px solid var(--primary-l);
      border-right: 1px solid var(--primary-l);
    }
  }
  &__item-content {
    font-size: 16px;
    margin: 20px 0px 0px 0px;
    @include tablet-min {
      font-size: 14px;
    }
  }
  &__slider {
    @include laptop-min {
      overflow: visible !important;
    }
  }
  &__slide {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    @include laptop-min {
      width: 320px !important;
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      top: 120px;
      background: linear-gradient(
        90deg,
        #fff 0%,
        rgba(255, 255, 255, 0.2) 100%
      );
      z-index: -1;
    }
  }
  &__slide-icon {
    display: block;
    width: 200px;
  }
  &__slide-body {
    padding: 20px 30px 30px 30px;
    @include laptop-middle {
      padding: 20px;
    }
  }
  &__slide-title {
    font-weight: 500;
    font-size: 22px;
    margin: 0px 0px 20px 0px;
    @include laptop-middle {
      font-size: 20px;
    }
  }
  &__slide-content {
    margin: 0;
    font-size: 16px;
    line-height: 140%;
  }
}
