.s-articles {
  overflow: hidden;
  &__slider {
    @include laptop-middle {
      overflow: visible !important;
    }
  }
  &__slide {
    @include laptop-middle {
      width: 355px !important;
      max-width: 100%;
    }
  }
  &__slide-img {
    display: block;
    width: 100%;
    aspect-ratio: 1/0.7;
    object-fit: cover;
  }
  &__slide-title {
    font-weight: 500;
    font-size: 20px;
    margin: 30px 0px 15px 0px;
    @include tablet {
      font-size: 18px;
      margin-top: 20px;
    }
  }
  &__slide-content {
    color: var(--manatee);
  }
}
