.body-hidden {
  overflow: hidden;
  touch-action: none;
}

.sect-p {
  padding: 100px 0px;
  @include laptop {
    padding: 80px 0px;
  }
  @include laptop-min {
    padding: 60px 0px;
  }
}
.sect-m {
  margin: 100px 0px;
  @include laptop {
    margin: 80px 0px;
  }
  @include laptop-min {
    margin: 60px 0px;
  }
}
.bg-gray {
  background-color: var(--gray);
}

.sect-head {
  @include flex-between;
  gap: 30px;
  margin-bottom: 50px;

  @include laptop-min {
    margin-bottom: 30px;
  }
  @include tablet {
    flex-wrap: wrap;
  }
}

.content {
  font-size: 16px;
  line-height: 140%;

  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.rect-decor {
  position: relative;
  z-index: 1;

  &._primary-l {
    &::before, &::after {
      border-color: var(--primary-l);
    }
  }

  &::before, &::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    z-index: -1;
  }
  &::before {
    border-left: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    left: 0;
    bottom: 0;
  }
  &::after {
    right: 0;
    top: 0;
    border-top: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
  }
}

.mt-off {
  margin-top: 0 !important;
}