:root {
  --dark: #1a1f25;
  --primary: #22538b;
  --primary-hover: #103d70;
  --primary-l: #45b4fd;

  --gray: #f8f8f8;
  --silver: #f7f7f7;

  --manatee: #90959e;

  --pink: #c0354f;
  --pink-hover: #aa253d;
}
