<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__main">
        <a href="/" class="footer__logo">
          <img src="@img/logo.svg" alt="logo" />
        </a>
        <p class="footer__content">
          Мы осуществляем перевозки по всему миру, используя различные виды
          транспорта
        </p>
      </div>
			<div class="footer__nav">
				<div class="footer__item">
					<div class="footer__item-title">О компании</div>
					<ul class="list footer__list">
						<li><a href="#">О нас</a></li>
						<li><a href="#">Реквизиты</a></li>
						<li><a href="#">Вакансии</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
				<div class="footer__item">
					<div class="footer__item-title">Услуги</div>
					<ul class="list footer__list">
						<li><a href="#">Авиаперевозки</a></li>
						<li><a href="#">Автоперевозки</a></li>
						<li><a href="#">Морские перевозки</a></li>
						<li><a href="#">Сборные грузы</a></li>
						<li><a href="#">Страхование</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__item">
				<div class="footer__item-title">Наши контакты</div>
				<a href="tel:+78432400155" class="footer__tel">+7 (843) 240-01-55</a>
				<a href="mailto:info@aviaservice.su" class="footer__mail">info@aviaservice.su</a>
				<div class="footer__social">
					<a href="#" target="_blank" class="footer__social-btn">
						<svg>
							<use xlink:href='img/icons/icons.svg#icon-tg'></use>
						</svg>
					</a>
					<a href="#" target="_blank" class="footer__social-btn">
						<svg>
							<use xlink:href='img/icons/icons.svg#icon-wh'></use>
						</svg>
					</a>
				</div>
				<p class="footer__contacts-content content">г. Казань, ул. Фатыха Амирхана, 51в, офис 206</p>
				<p class="footer__contacts-content content">с 8.30 до 17.00, сб-вс выходной</p>
			</div>
    </div>
		<div class="footer__bottom">
			<div class="footer__copyright">© “Авиасервис”, 2022—2025 </div>
			<ul class="list footer__bottom-list">
				<li><a href="#">Политика конфиденциальности</a></li>
				<li><a href="#">Правила обработки персональных данных</a></li>
			</ul>
			<a href="https://qorix.ru/" class="footer__dev">
				<span>Разработка сайта —</span>
				<img src="@img/qorix.svg" alt="image">
			</a>
		</div>
  </div>
</footer>

<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
