<div class="modal" id="modal-order">
  <div class="modal__container">
    <h3 class="s-title modal__title">Оставить заявку</h3>
    <form action="#" class="modal__form">
      <div class="input-control">
        <input type="text" placeholder="Ваше имя" class="input" />
      </div>
      <div class="input-control">
        <input type="tel" placeholder="Телефон" class="input" />
      </div>
      <button class="btn-s modal__form-btn">Отправить</button>
      <label class="check-wrapper">
        <input type="checkbox" class="input-check" required />
        <span class="label-check">
          <span>
            Я&nbsp;соглашаюсь с
            <a href="/personal-data" target="_blank">
              Политикой обработки персональных данных
            </a>
            и
            <a href="/privacy-policy" target="_blank">
              Политикой конфиденциальности
            </a>
          </span>
        </span>
      </label>
    </form>
  </div>
</div>

<div class="modal modal-calc" id="modal-calc">
  <div class="modal__container">
    <h3 class="s-title modal__title">Рассчитать стоимость доставки</h3>
    <form class="modal-calc__form js-form">
      <div class="modal-calc__inputs">
        <div class="modal-calc__form-grid">
          <div class="input-control">
            <div class="select">
              <div class="select-btn">
                <input
                  type="text"
                  placeholder="Выберите тип доставки"
                  class="input select-input"
                />
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-down"></use>
                </svg>
              </div>
              <div class="select-body">
                <div class="select-item">Москва</div>
                <div class="select-item">Санкт-Петербург</div>
                <div class="select-item">Казань</div>
                <div class="select-item">Красноярск</div>
                <div class="select-item">Екатеринбург</div>
                <div class="select-item">Москва</div>
                <div class="select-item">Санкт-Петербург</div>
                <div class="select-item">Казань</div>
                <div class="select-item">Красноярск</div>
                <div class="select-item">Екатеринбург</div>
              </div>
            </div>
          </div>
          <div class="input-control">
            <div class="select">
              <div class="select-btn">
                <input
                  type="text"
                  placeholder="Откуда вывозить"
                  class="input select-input"
                />
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-down"></use>
                </svg>
              </div>
              <div class="select-body">
                <div class="select-item">Москва</div>
                <div class="select-item">Санкт-Петербург</div>
                <div class="select-item">Казань</div>
                <div class="select-item">Красноярск</div>
                <div class="select-item">Екатеринбург</div>
                <div class="select-item">Москва</div>
                <div class="select-item">Санкт-Петербург</div>
                <div class="select-item">Казань</div>
                <div class="select-item">Красноярск</div>
                <div class="select-item">Екатеринбург</div>
              </div>
            </div>
          </div>
          <div class="input-control">
            <div class="select">
              <div class="select-btn">
                <input
                  type="text"
                  placeholder="Куда доставлять"
                  class="input select-input"
                />
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-down"></use>
                </svg>
              </div>
              <div class="select-body">
                <div class="select-item">Москва</div>
                <div class="select-item">Санкт-Петербург</div>
                <div class="select-item">Казань</div>
                <div class="select-item">Красноярск</div>
                <div class="select-item">Екатеринбург</div>
                <div class="select-item">Москва</div>
                <div class="select-item">Санкт-Петербург</div>
                <div class="select-item">Казань</div>
                <div class="select-item">Красноярск</div>
                <div class="select-item">Екатеринбург</div>
              </div>
            </div>
          </div>
          <div class="input-control">
            <div class="select">
              <div class="select-btn">
                <input
                  type="text"
                  placeholder="Габариты груза"
                  class="input select-input"
                />
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-down"></use>
                </svg>
              </div>
              <div class="select-body">
                <div class="select-item">2 кг</div>
                <div class="select-item">2 кг</div>
                <div class="select-item">2 кг</div>
                <div class="select-item">2 кг</div>
                <div class="select-item">2 кг</div>
                <div class="select-item">2 кг</div>
              </div>
            </div>
          </div>
          <div class="input-control">
            <div class="select">
              <div class="select-btn">
                <input
                  type="text"
                  placeholder="Вес груза"
                  class="input select-input"
                />
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-down"></use>
                </svg>
              </div>
              <div class="select-body">
                <div class="select-item">2 кг</div>
                <div class="select-item">2 кг</div>
                <div class="select-item">2 кг</div>
                <div class="select-item">2 кг</div>
                <div class="select-item">2 кг</div>
                <div class="select-item">2 кг</div>
              </div>
            </div>
          </div>
          <div class="input-control">
            <div class="select">
              <div class="select-btn">
                <input
                  type="text"
                  placeholder="Страхование груза"
                  class="input select-input"
                />
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-down"></use>
                </svg>
              </div>
              <div class="select-body">
                <div class="select-item">Москва</div>
                <div class="select-item">Санкт-Петербург</div>
                <div class="select-item">Казань</div>
                <div class="select-item">Красноярск</div>
                <div class="select-item">Екатеринбург</div>
                <div class="select-item">Москва</div>
                <div class="select-item">Санкт-Петербург</div>
                <div class="select-item">Казань</div>
                <div class="select-item">Красноярск</div>
                <div class="select-item">Екатеринбург</div>
              </div>
            </div>
          </div>
          <div class="input-control">
            <div class="select">
              <div class="select-btn">
                <input
                  type="text"
                  placeholder="Тип сервиса"
                  class="input select-input"
                />
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-down"></use>
                </svg>
              </div>
              <div class="select-body">
                <div class="select-item">Москва</div>
                <div class="select-item">Санкт-Петербург</div>
                <div class="select-item">Казань</div>
                <div class="select-item">Красноярск</div>
                <div class="select-item">Екатеринбург</div>
                <div class="select-item">Москва</div>
                <div class="select-item">Санкт-Петербург</div>
                <div class="select-item">Казань</div>
                <div class="select-item">Красноярск</div>
                <div class="select-item">Екатеринбург</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-calc__form-view">
          <div class="input-name">Выберите удобный вид связи</div>
          <div class="input-radios">
            <input
              type="radio"
              id="modal-view-connect-wh"
              checked
              name="modal-view-connect"
              class="input-radio"
            />
            <label
              for="modal-view-connect-wh"
              class="btn-s _outline label-radio"
            >
              WhatsApp
            </label>
            <input
              type="radio"
              id="modal-view-connect-tg"
              name="modal-view-connect"
              class="input-radio"
            />
            <label
              for="modal-view-connect-tg"
              class="btn-s _outline label-radio"
            >
              Telegram
            </label>
            <input
              type="radio"
              id="modal-view-connect-tel"
              name="modal-view-connect"
              class="input-radio"
            />
            <label
              for="modal-view-connect-tel"
              class="btn-s _outline label-radio"
            >
              Звонок
            </label>
            <div class="input-control">
              <input
                type="tel"
                placeholder="Укажите ваш номер телефона"
                class="input"
              />
            </div>
          </div>
        </div>
        <div class="modal-calc__form-nav">
          <label class="check-wrapper">
            <input type="checkbox" class="input-check" required />
            <span class="label-check">
              <span>
                Я&nbsp;соглашаюсь с
                <a href="/personal-data" target="_blank">
                  Политикой обработки персональных данных
                </a>
                и
                <a href="/privacy-policy" target="_blank">
                  Политикой конфиденциальности
                </a>
              </span>
            </span>
          </label>
          <button class="btn-s _pink modal-calc__form-send">Отправить</button>
        </div>
      </div>
    </form>
  </div>
</div>
