<div class="modal" id="modal-order">
  <div class="modal__container">
    <h3 class="s-title modal__title">Оставить заявку</h3>
    <form action="#" class="modal__form">
      <div class="input-control">
        <input type="text" placeholder="Ваше имя" class="input" />
      </div>
      <div class="input-control">
        <input type="tel" placeholder="Телефон" class="input" />
      </div>
      <button class="btn-s modal__form-btn">Отправить</button>
      <span class="wpcf7-form-control-wrap">
        <span class="wpcf7-form-control wpcf7-acceptance">
          <span class="wpcf7-list-item">
            <label>
              <input
                type="checkbox"
                class="input-check"
              />
              <span class="wpcf7-list-item-label">
                <span>
                  Я&nbsp;соглашаюсь с
                  <a href="/personal-data" target="_blank">
                    Политикой обработки персональных данных
                  </a>
                  и
                  <a href="/privacy-policy" target="_blank">
                    Политикой конфиденциальности
                  </a>
                </span>
              </span>
            </label>
          </span>
        </span>
      </span>
    </form>
  </div>
</div>
