<section class="sect-m s-about">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">О компании Авиасервис</h2>
      <a href="#" class="btn-s s-about__btn">Подробнее о нас</a>
    </div>
    <div class="s-about__content content">
      <div class="s-about__content-item">
        <p>
          Авиасервис — международная транспортная компания, находящаяся
          в г. Казань, Россия.
        </p>
        <p>
          Обладая знаниями и опытом в международной логистике, мы осуществляем
          перевозки по всему миру, используя различные виды транспорта.
        </p>
      </div>
      <div class="s-about__content-item">
        <p>
          Сдаем и получаем груз, проводим таможенный осмотр в международном
          аэропорту в г. Казань, а также во всех аэропортах России и Мира.
        </p>
        <p>Наш опыт работы в международной логистике с 2000-го года.</p>
      </div>
    </div>
  </div>
  <img src="@img/about.jpg" alt="image" class="s-about__img">
</section>
