<section class="sect-m s-about-service">
  <div class="container">
    <div class="s-about-service__wrapper">
      <div class="s-about-service__main">
        <div class="sect-head">
          <h2 class="s-title">Об услуге</h2>
        </div>
        <div class="content">
          <p>
            Являясь грузовым агентом ведущих авиакомпаний, таких как: Аэрофлот,
            Turkish Airlines, Uzbekistan airlines, Air India, Air Bridge cargo,
            а также многих других, позволяет нам отправить груз в любую точку
            России и мира.
          </p>
          <p>
            Наши сотрудники имеют сертификаты IATA по отправке опасных грузов
            (DGD) и живых животных (LAR)
          </p>
        </div>
      </div>
      <div class="s-about-service__gallery">
        <div class="s-about-service">
          <div class="s-about-service__gallery-head">
            <h3 class="l-title">Мы предлагаем</h3>
            <div class="slider-nav">
              <div class="slider-nav__btn _prev">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                </svg>
              </div>
              <div class="slider-nav__btn _next">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-next"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="swiper s-about-service__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide s-about-service__slide">
                <img
                  src="@img/about-service-icon.svg"
                  alt="icon"
                  class="s-about-service__slide-icon"
                />
                <span>Консолидация грузов</span>
              </div>
              <div class="swiper-slide s-about-service__slide">
                <img
                  src="@img/about-service-icon.svg"
                  alt="icon"
                  class="s-about-service__slide-icon"
                />
                <span>Возможность выбора сервиса</span>
              </div>
              <div class="swiper-slide s-about-service__slide">
                <img
                  src="@img/about-service-icon.svg"
                  alt="icon"
                  class="s-about-service__slide-icon"
                />
                <span>Отслеживание</span>
              </div>
              <div class="swiper-slide s-about-service__slide">
                <img
                  src="@img/about-service-icon.svg"
                  alt="icon"
                  class="s-about-service__slide-icon"
                />
                <span>Консолидация грузов</span>
              </div>
              <div class="swiper-slide s-about-service__slide">
                <img
                  src="@img/about-service-icon.svg"
                  alt="icon"
                  class="s-about-service__slide-icon"
                />
                <span>Возможность выбора сервиса</span>
              </div>
              <div class="swiper-slide s-about-service__slide">
                <img
                  src="@img/about-service-icon.svg"
                  alt="icon"
                  class="s-about-service__slide-icon"
                />
                <span>Отслеживание</span>
              </div>
            </div>
          </div>
          <div class="slider-pagination _mob"></div>
        </div>
      </div>
    </div>
  </div>
</section>
