<section class="sect-p s-adv bg-gray">
  <div class="container">
    <div class="s-adv__grid">
      <div class="s-adv__item">
        <div class="s-adv__item-num">24</div>
        <p class="s-adv__item-content">
          авиакомпаний
          <br />
          сотрудничают с нами
        </p>
      </div>
      <div class="s-adv__item">
        <div class="s-adv__item-num">3 186</div>
        <p class="s-adv__item-content">
          довольных
          <br />
          грузополучаетелей
        </p>
      </div>
      <div class="s-adv__item">
        <div class="s-adv__item-num">100</div>
        <p class="s-adv__item-content">
          грузов доставляем
          <br />
          ежедневно
        </p>
      </div>
      <div class="s-adv__item">
        <div class="s-adv__item-num">25</div>
        <p class="s-adv__item-content">
          лет на рынке
          <br />
          авиаперевозок
        </p>
      </div>
    </div>
    <div class="s-adv__main">
      <div class="sect-head">
        <h2 class="s-title">Что вы получите работая с Авиасервис</h2>
        <div class="slider-nav">
          <div class="slider-nav__btn _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-nav__btn _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="swiper s-adv__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide s-adv__slide">
            <img src="@img/adv-icon.svg" alt="icon" class="s-adv__slide-icon" />
            <div class="s-adv__slide-body">
              <h5 class="s-adv__slide-title">Персональный менеджер</h5>
              <p class="s-adv__slide-content">
                С учётом сложившейся международной обстановки, дальнейшее
                развитие различных форм деятельности представляет собой
                интересный эксперимент проверки кластеризации усилий.
              </p>
            </div>
          </div>
          <div class="swiper-slide s-adv__slide">
            <img src="@img/adv-icon.svg" alt="icon" class="s-adv__slide-icon" />
            <div class="s-adv__slide-body">
              <h5 class="s-adv__slide-title">Персональный менеджер</h5>
              <p class="s-adv__slide-content">
                С учётом сложившейся международной обстановки, дальнейшее
                развитие различных форм деятельности представляет собой
                интересный эксперимент проверки кластеризации усилий.
              </p>
            </div>
          </div>
          <div class="swiper-slide s-adv__slide">
            <img src="@img/adv-icon.svg" alt="icon" class="s-adv__slide-icon" />
            <div class="s-adv__slide-body">
              <h5 class="s-adv__slide-title">Персональный менеджер</h5>
              <p class="s-adv__slide-content">
                С учётом сложившейся международной обстановки, дальнейшее
                развитие различных форм деятельности представляет собой
                интересный эксперимент проверки кластеризации усилий.
              </p>
            </div>
          </div>
          <div class="swiper-slide s-adv__slide">
            <img src="@img/adv-icon.svg" alt="icon" class="s-adv__slide-icon" />
            <div class="s-adv__slide-body">
              <h5 class="s-adv__slide-title">Персональный менеджер</h5>
              <p class="s-adv__slide-content">
                С учётом сложившейся международной обстановки, дальнейшее
                развитие различных форм деятельности представляет собой
                интересный эксперимент проверки кластеризации усилий.
              </p>
            </div>
          </div>
          <div class="swiper-slide s-adv__slide">
            <img src="@img/adv-icon.svg" alt="icon" class="s-adv__slide-icon" />
            <div class="s-adv__slide-body">
              <h5 class="s-adv__slide-title">Персональный менеджер</h5>
              <p class="s-adv__slide-content">
                С учётом сложившейся международной обстановки, дальнейшее
                развитие различных форм деятельности представляет собой
                интересный эксперимент проверки кластеризации усилий.
              </p>
            </div>
          </div>
          <div class="swiper-slide s-adv__slide">
            <img src="@img/adv-icon.svg" alt="icon" class="s-adv__slide-icon" />
            <div class="s-adv__slide-body">
              <h5 class="s-adv__slide-title">Персональный менеджер</h5>
              <p class="s-adv__slide-content">
                С учётом сложившейся международной обстановки, дальнейшее
                развитие различных форм деятельности представляет собой
                интересный эксперимент проверки кластеризации усилий.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-pagination _mob"></div>
    </div>
  </div>
</section>