<section class="s-app-services sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Дополнительные услуги</h2>
    </div>
    <div class="s-app-services__grid">
      <a href="#" class="card-service-category">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
        </svg>
        <span>Оформление декларации опасных грузов</span>
      </a>
      <a href="#" class="card-service-category">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
        </svg>
        <span>Дополнительная упаковка груза</span>
      </a>
      <a href="#" class="card-service-category">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
        </svg>
        <span>Страхование груза</span>
      </a>
    </div>
  </div>
</section>
