<section class="s-archive-service sect-m mt-off">
  <div class="breadcrumbs">
    <div class="container">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="https://timer-alliance.ru" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">/</span>
        <span class="aioseo-breadcrumb">Все услуги</span>
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="m-title _archive">Все услуги</h1>
    <div class="s-archive-service__grid">
      <a href="#" class="card-service">
        <img src="@img/service-icon.png" alt="icon" class="card-service__icon" />
        <div class="card-service__body">
          <div class="card-service__title">
            <span>Авиаперевозки</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-service">
        <img src="@img/service-icon.png" alt="icon" class="card-service__icon" />
        <div class="card-service__body">
          <div class="card-service__title">
            <span>Экспедирование груза в аэропорту</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-service">
        <img src="@img/service-icon.png" alt="icon" class="card-service__icon" />
        <div class="card-service__body">
          <div class="card-service__title">
            <span>Авиаперевозки</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-service">
        <img src="@img/service-icon.png" alt="icon" class="card-service__icon" />
        <div class="card-service__body">
          <div class="card-service__title">
            <span>Авиаперевозки</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-service">
        <img src="@img/service-icon.png" alt="icon" class="card-service__icon" />
        <div class="card-service__body">
          <div class="card-service__title">
            <span>Экспедирование груза в аэропорту</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-service">
        <img src="@img/service-icon.png" alt="icon" class="card-service__icon" />
        <div class="card-service__body">
          <div class="card-service__title">
            <span>Авиаперевозки</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-service">
        <img src="@img/service-icon.png" alt="icon" class="card-service__icon" />
        <div class="card-service__body">
          <div class="card-service__title">
            <span>Авиаперевозки</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-service">
        <img src="@img/service-icon.png" alt="icon" class="card-service__icon" />
        <div class="card-service__body">
          <div class="card-service__title">
            <span>Экспедирование груза в аэропорту</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-service">
        <img src="@img/service-icon.png" alt="icon" class="card-service__icon" />
        <div class="card-service__body">
          <div class="card-service__title">
            <span>Авиаперевозки</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
