<section class="sect-m s-articles">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Не знаете с чего начать?</h2>
      <div class="slider-nav">
        <div class="slider-nav__btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-nav__btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-articles__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-articles__slide">
          <img
            src="@img/article.jpg"
            alt="image"
            class="s-articles__slide-img"
          />
          <h5 class="s-articles__slide-title">Как доставить груз</h5>
          <p class="content s-articles__slide-content">
            Картельные сговоры не допускают ситуации, при которой акционеры
            крупнейших компаний ограничены исключительно образом мышления.
          </p>
        </div>
        <div class="swiper-slide s-articles__slide">
          <img
            src="@img/article.jpg"
            alt="image"
            class="s-articles__slide-img"
          />
          <h5 class="s-articles__slide-title">Как доставить груз</h5>
          <p class="content s-articles__slide-content">
            Картельные сговоры не допускают ситуации, при которой акционеры
            крупнейших компаний ограничены исключительно образом мышления.
          </p>
        </div>
        <div class="swiper-slide s-articles__slide">
          <img
            src="@img/article.jpg"
            alt="image"
            class="s-articles__slide-img"
          />
          <h5 class="s-articles__slide-title">Как доставить груз</h5>
          <p class="content s-articles__slide-content">
            Картельные сговоры не допускают ситуации, при которой акционеры
            крупнейших компаний ограничены исключительно образом мышления.
          </p>
        </div>
        <div class="swiper-slide s-articles__slide">
          <img
            src="@img/article.jpg"
            alt="image"
            class="s-articles__slide-img"
          />
          <h5 class="s-articles__slide-title">Как доставить груз</h5>
          <p class="content s-articles__slide-content">
            Картельные сговоры не допускают ситуации, при которой акционеры
            крупнейших компаний ограничены исключительно образом мышления.
          </p>
        </div>
        <div class="swiper-slide s-articles__slide">
          <img
            src="@img/article.jpg"
            alt="image"
            class="s-articles__slide-img"
          />
          <h5 class="s-articles__slide-title">Как доставить груз</h5>
          <p class="content s-articles__slide-content">
            Картельные сговоры не допускают ситуации, при которой акционеры
            крупнейших компаний ограничены исключительно образом мышления.
          </p>
        </div>
        <div class="swiper-slide s-articles__slide">
          <img
            src="@img/article.jpg"
            alt="image"
            class="s-articles__slide-img"
          />
          <h5 class="s-articles__slide-title">Как доставить груз</h5>
          <p class="content s-articles__slide-content">
            Картельные сговоры не допускают ситуации, при которой акционеры
            крупнейших компаний ограничены исключительно образом мышления.
          </p>
        </div>
        <div class="swiper-slide s-articles__slide">
          <img
            src="@img/article.jpg"
            alt="image"
            class="s-articles__slide-img"
          />
          <h5 class="s-articles__slide-title">Как доставить груз</h5>
          <p class="content s-articles__slide-content">
            Картельные сговоры не допускают ситуации, при которой акционеры
            крупнейших компаний ограничены исключительно образом мышления.
          </p>
        </div>
      </div>
    </div>
    <div class="slider-pagination _mob"></div>
  </div>
</section>
