<section class="s-calculator sect-m">
  <div class="container">
    <h1 class="m-title">Калькулятор стоимости авиаперевозки из Казани</h1>
    <div class="s-calculator__content content">
      <p>
        Также как убеждённость некоторых оппонентов не даёт нам иного выбора,
        кроме определения вывода текущих активов. Лишь активно развивающиеся
        страны третьего мира объявлены нарушающими общечеловеческие нормы этики
        и морали.
      </p>
    </div>
    <div class="s-calculator__form">
      <div class="s-calculator__form-col">
        <div class="s-calculator__row">
          <div class="input-control">
            <input
              type="text"
              placeholder="Город"
              value="Казань"
              class="input"
            />
          </div>
          <div class="input-name">
            <span>Нужен другой город?</span>
            <div class="tooltip">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-question"></use>
              </svg>
              <div class="tooltip__content">
                <div class="tooltip__content-inside">
                  Также как убеждённость некоторых оппонентов не даёт нам иного
                  выбора, кроме определения вывода текущих активов.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="input-control">
          <div class="select">
            <div class="select-btn">
              <input
                type="text"
                placeholder="Куда доставлять"
                class="input select-input"
              />
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div class="select-body">
              <div class="select-item">Москва</div>
              <div class="select-item">Санкт-Петербург</div>
              <div class="select-item">Казань</div>
              <div class="select-item">Красноярск</div>
              <div class="select-item">Екатеринбург</div>
              <div class="select-item">Москва</div>
              <div class="select-item">Санкт-Петербург</div>
              <div class="select-item">Казань</div>
              <div class="select-item">Красноярск</div>
              <div class="select-item">Екатеринбург</div>
            </div>
          </div>
        </div>
        <div class="s-calculator__question">
          <div class="input-name">
            <span>Вы знаете габариты груза?</span>
            <div class="tooltip">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-question"></use>
              </svg>
              <div class="tooltip__content">
                <div class="tooltip__content-inside">
                  Также как убеждённость некоторых оппонентов не даёт нам иного
                  выбора, кроме определения вывода текущих активов.
                </div>
              </div>
            </div>
          </div>
          <div class="input-questions">
            <input
              type="radio"
              name="Вы знаете габариты груза?"
              id="weight-yes"
              value="Да"
              checked=""
              class="input-check"
            />
            <label for="weight-yes" class="label-check">Да</label>
            <input
              type="radio"
              name="Вы знаете габариты груза?"
              id="weight-no"
              value="Нет"
              class="input-check"
            />
            <label for="weight-no" class="label-check">Нет</label>
          </div>
        </div>
        <div class="s-calculator__grid">
          <div class="input-control">
            <input type="text" placeholder="Ширина" class="input" />
          </div>
          <div class="input-control">
            <input type="text" placeholder="Высота" class="input" />
          </div>
          <div class="input-control">
            <input type="text" placeholder="Длина" class="input" />
          </div>
          <div class="input-control">
            <input type="text" placeholder="Вес груза" class="input" />
          </div>
        </div>
      </div>
      <div class="s-calculator__form-col">
        <div class="s-calculator__form-views">
          <div class="input-name">Выберите удобный вид связи</div>
          <div class="input-radios">
            <input
              type="radio"
              id="view-connect-wh"
              checked
              name="view-connect"
              class="input-radio"
            />
            <label for="view-connect-wh" class="btn-s _outline label-radio">
              WhatsApp
            </label>
            <input
              type="radio"
              id="view-connect-tg"
              name="view-connect"
              class="input-radio"
            />
            <label for="view-connect-tg" class="btn-s _outline label-radio">
              Telegram
            </label>
            <input
              type="radio"
              id="view-connect-tel"
              name="view-connect"
              class="input-radio"
            />
            <label for="view-connect-tel" class="btn-s _outline label-radio">
              Звонок
            </label>
          </div>
        </div>
        <div class="input-control">
          <input
            type="tel"
            placeholder="Укажите ваш номер телефона"
            class="input"
          />
        </div>
        <div class="s-calculator__form-nav">
          <label class="check-wrapper">
            <input type="checkbox" class="input-check" required />
            <span class="label-check">
              <span>
                Я&nbsp;соглашаюсь с
                <a href="/personal-data" target="_blank">
                  Политикой обработки персональных данных
                </a>
                и
                <a href="/privacy-policy" target="_blank">
                  Политикой конфиденциальности
                </a>
              </span>
            </span>
          </label>
          <button class="btn-s _pink s-calculator__form-send">Отправить</button>
        </div>
      </div>
    </div>
  </div>
</section>
