<div class="breadcrumbs">
  <div class="container">
    <div class="aioseo-breadcrumbs">
      <span class="aioseo-breadcrumb">
        <a href="https://timer-alliance.ru" title="Главная">Главная</a>
      </span>
      <span class="aioseo-breadcrumb-separator">/</span>
      <span class="aioseo-breadcrumb">
        <a href="https://timer-alliance.ru" title="Все услуги">Все услуги</a>
      </span>
      <span class="aioseo-breadcrumb-separator">/</span>
      <span class="aioseo-breadcrumb">Авиаперевозки</span>
    </div>
  </div>
</div>
<section class="sect-m s-category">
  <div class="container">
    <h1 class="m-title">Авиаперевозки</h1>
    <div class="s-category__grid">
      <a href="#" class="card-service-category">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
        </svg>
        <span>Генеральные грузы</span>
      </a>
      <a href="#" class="card-service-category">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
        </svg>
        <span>Грузы требующего температурного режима</span>
      </a>
      <a href="#" class="card-service-category">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
        </svg>
        <span>Генеральные грузы</span>
      </a>
      <a href="#" class="card-service-category">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
        </svg>
        <span>Грузы требующего температурного режима</span>
      </a>
      <a href="#" class="card-service-category">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
        </svg>
        <span>Генеральные грузы</span>
      </a>
      <a href="#" class="card-service-category">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
        </svg>
        <span>Грузы требующего температурного режима</span>
      </a>
    </div>
  </div>
</section>
