<section class="sect-m s-certificates">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Лицензии и сертификаты</h2>
      <div class="slider-nav">
        <div class="slider-nav__btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-nav__btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-certificates__slider">
      <div class="swiper-wrapper">
        <a
          href="@img/certificate.jpg"
          data-fancybox="certificates"
          class="swiper-slide s-certificates__slide"
        >
          <img src="@img/certificate.jpg" alt="image" />
        </a>
        <a
          href="@img/certificate.jpg"
          data-fancybox="certificates"
          class="swiper-slide s-certificates__slide"
        >
          <img src="@img/certificate.jpg" alt="image" />
        </a>
        <a
          href="@img/certificate.jpg"
          data-fancybox="certificates"
          class="swiper-slide s-certificates__slide"
        >
          <img src="@img/certificate.jpg" alt="image" />
        </a>
        <a
          href="@img/certificate.jpg"
          data-fancybox="certificates"
          class="swiper-slide s-certificates__slide"
        >
          <img src="@img/certificate.jpg" alt="image" />
        </a>
        <a
          href="@img/certificate.jpg"
          data-fancybox="certificates"
          class="swiper-slide s-certificates__slide"
        >
          <img src="@img/certificate.jpg" alt="image" />
        </a>
        <a
          href="@img/certificate.jpg"
          data-fancybox="certificates"
          class="swiper-slide s-certificates__slide"
        >
          <img src="@img/certificate.jpg" alt="image" />
        </a>
        <a
          href="@img/certificate.jpg"
          data-fancybox="certificates"
          class="swiper-slide s-certificates__slide"
        >
          <img src="@img/certificate.jpg" alt="image" />
        </a>
      </div>
    </div>
    <div class="slider-pagination _mob"></div>
  </div>
</section>
