<section class="sect-m s-danger">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Классификация опасных грузов</h2>
      <div class="slider-nav">
        <div class="slider-nav__btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-nav__btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-danger__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-danger__slide">
          <img src="@img/danger.png" alt="icon" class="s-danger__slide-icon" />
          <span class="content">Оранжевый ромб – взрывчатые вещества</span>
        </div>
        <div class="swiper-slide s-danger__slide">
          <img src="@img/danger.png" alt="icon" class="s-danger__slide-icon" />
          <span class="content">
            Красный ромб с огнем – легковоспламеняющиеся вещества в жидком
            состоянии
          </span>
        </div>
        <div class="swiper-slide s-danger__slide">
          <img src="@img/danger.png" alt="icon" class="s-danger__slide-icon" />
          <span class="content">Оранжевый ромб – взрывчатые вещества</span>
        </div>
        <div class="swiper-slide s-danger__slide">
          <img src="@img/danger.png" alt="icon" class="s-danger__slide-icon" />
          <span class="content">
            Красный ромб с огнем – легковоспламеняющиеся вещества в жидком
            состоянии
          </span>
        </div>
        <div class="swiper-slide s-danger__slide">
          <img src="@img/danger.png" alt="icon" class="s-danger__slide-icon" />
          <span class="content">Оранжевый ромб – взрывчатые вещества</span>
        </div>
        <div class="swiper-slide s-danger__slide">
          <img src="@img/danger.png" alt="icon" class="s-danger__slide-icon" />
          <span class="content">
            Красный ромб с огнем – легковоспламеняющиеся вещества в жидком
            состоянии
          </span>
        </div>
        <div class="swiper-slide s-danger__slide">
          <img src="@img/danger.png" alt="icon" class="s-danger__slide-icon" />
          <span class="content">Оранжевый ромб – взрывчатые вещества</span>
        </div>
        <div class="swiper-slide s-danger__slide">
          <img src="@img/danger.png" alt="icon" class="s-danger__slide-icon" />
          <span class="content">
            Красный ромб с огнем – легковоспламеняющиеся вещества в жидком
            состоянии
          </span>
        </div>
      </div>
    </div>
    <div class="slider-pagination _mob"></div>
  </div>
</section>
