<section class="sect-m s-docs">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">
        Дополнительные документы требуемые при авиаперевозке
      </h2>
      <div class="slider-nav">
        <div class="slider-nav__btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-nav__btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-docs__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-docs__slide">
          <img src="@img/doc.png" alt="image" class="s-docs__slide-icon" />
          <span>Авианакладная</span>
        </div>
        <div class="swiper-slide s-docs__slide">
          <img src="@img/doc.png" alt="image" class="s-docs__slide-icon" />
          <span>Инвойс</span>
        </div>
        <div class="swiper-slide s-docs__slide">
          <img src="@img/doc.png" alt="image" class="s-docs__slide-icon" />
          <span>Упаковочный лист</span>
        </div>
        <div class="swiper-slide s-docs__slide">
          <img src="@img/doc.png" alt="image" class="s-docs__slide-icon" />
          <span>Таможенная декларация</span>
        </div>
        <div class="swiper-slide s-docs__slide">
          <img src="@img/doc.png" alt="image" class="s-docs__slide-icon" />
          <span>Авианакладная</span>
        </div>
        <div class="swiper-slide s-docs__slide">
          <img src="@img/doc.png" alt="image" class="s-docs__slide-icon" />
          <span>Инвойс</span>
        </div>
        <div class="swiper-slide s-docs__slide">
          <img src="@img/doc.png" alt="image" class="s-docs__slide-icon" />
          <span>Упаковочный лист</span>
        </div>
        <div class="swiper-slide s-docs__slide">
          <img src="@img/doc.png" alt="image" class="s-docs__slide-icon" />
          <span>Таможенная декларация</span>
        </div>
      </div>
    </div>
    <div class="slider-pagination _mob"></div>
  </div>
</section>
