<section class="sect-m s-features">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Весь сервис компании и его особенности</h2>
    </div>
    <div class="s-features__grid">
      <div class="s-features__item">
        <img src="@img/feauter.svg" alt="icon" class="s-features__item-icon" />
        <span>Консолидация грузов</span>
      </div>
      <div class="s-features__item">
        <img src="@img/feauter.svg" alt="icon" class="s-features__item-icon" />
        <span>Сервис «аэропорт — аэропорт»</span>
      </div>
      <div class="s-features__item">
        <img src="@img/feauter.svg" alt="icon" class="s-features__item-icon" />
        <span>Консолидация грузов</span>
      </div>
      <div class="s-features__item">
        <img src="@img/feauter.svg" alt="icon" class="s-features__item-icon" />
        <span>Сервис «аэропорт — аэропорт»</span>
      </div>
      <div class="s-features__item">
        <img src="@img/feauter.svg" alt="icon" class="s-features__item-icon" />
        <span>Консолидация грузов</span>
      </div>
      <div class="s-features__item">
        <img src="@img/feauter.svg" alt="icon" class="s-features__item-icon" />
        <span>Сервис «аэропорт — аэропорт»</span>
      </div>
      <div class="s-features__item">
        <img src="@img/feauter.svg" alt="icon" class="s-features__item-icon" />
        <span>Консолидация грузов</span>
      </div>
      <div class="s-features__item">
        <img src="@img/feauter.svg" alt="icon" class="s-features__item-icon" />
        <span>Сервис «аэропорт — аэропорт»</span>
      </div>
      <div class="s-features__item">
        <img src="@img/feauter.svg" alt="icon" class="s-features__item-icon" />
        <span>Консолидация грузов</span>
      </div>
      <div class="s-features__item">
        <img src="@img/feauter.svg" alt="icon" class="s-features__item-icon" />
        <span>Сервис «аэропорт — аэропорт»</span>
      </div>
      <div class="s-features__item">
        <img src="@img/feauter.svg" alt="icon" class="s-features__item-icon" />
        <span>Консолидация грузов</span>
      </div>
      <div class="s-features__item">
        <img src="@img/feauter.svg" alt="icon" class="s-features__item-icon" />
        <span>Сервис «аэропорт — аэропорт»</span>
      </div>
    </div>
  </div>
</section>
