<section class="s-gallery sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Фотографии нашего офиса</h2>
      <div class="slider-nav">
        <div class="slider-nav__btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-nav__btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="s-gallery__slider swiper">
      <div class="swiper-wrapper">
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
      </div>
    </div>
  </div>
</section>
