<section class="sect-p bg-gray s-grid">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">
        Консультируем по всему спектру логистических, таможенных и ВЭД услугам
      </h2>
    </div>
    <div class="s-grid__wrapper">
      <div class="s-grid__item">
        <img src="@img/grid-icon.png" alt="icon" class="s-grid__icon" />
        <h5 class="s-grid__item-title">Импорт товаров</h5>
        <p class="content s-grid__item-content">
          Картельные сговоры не допускают ситуации, при которой акционеры
          крупнейших компаний ограничены исключительно образом мышления.
        </p>
      </div>
      <div class="s-grid__item">
        <img src="@img/grid-icon.png" alt="icon" class="s-grid__icon" />
        <h5 class="s-grid__item-title">Импорт товаров</h5>
        <p class="content s-grid__item-content">
          С учётом сложившейся международной обстановки, дальнейшее развитие
          различных форм деятельности представляет собой интересный эксперимент
          проверки кластеризации усилий.
        </p>
      </div>
      <div class="s-grid__item">
        <img src="@img/grid-icon.png" alt="icon" class="s-grid__icon" />
        <h5 class="s-grid__item-title">Импорт товаров</h5>
        <p class="content s-grid__item-content">
          Картельные сговоры не допускают ситуации, при которой акционеры
          крупнейших компаний ограничены исключительно образом мышления.
        </p>
      </div>
      <div class="s-grid__item">
        <img src="@img/grid-icon.png" alt="icon" class="s-grid__icon" />
        <h5 class="s-grid__item-title">Импорт товаров</h5>
        <p class="content s-grid__item-content">
          С учётом сложившейся международной обстановки, дальнейшее развитие
          различных форм деятельности представляет собой интересный эксперимент
          проверки кластеризации усилий.
        </p>
      </div>
      <div class="s-grid__item">
        <img src="@img/grid-icon.png" alt="icon" class="s-grid__icon" />
        <h5 class="s-grid__item-title">Импорт товаров</h5>
        <p class="content s-grid__item-content">
          Картельные сговоры не допускают ситуации, при которой акционеры
          крупнейших компаний ограничены исключительно образом мышления.
        </p>
      </div>
      <div class="s-grid__item">
        <img src="@img/grid-icon.png" alt="icon" class="s-grid__icon" />
        <h5 class="s-grid__item-title">Импорт товаров</h5>
        <p class="content s-grid__item-content">
          С учётом сложившейся международной обстановки, дальнейшее развитие
          различных форм деятельности представляет собой интересный эксперимент
          проверки кластеризации усилий.
        </p>
      </div>
    </div>
  </div>
</section>
