<section class="s-hero">
  <div class="swiper s-hero__slider">
    <div class="s-hero__slider-btn _prev">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-prev"></use>
      </svg>
    </div>
    <div class="s-hero__slider-btn _next">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-next"></use>
      </svg>
    </div>
    <div class="swiper-wrapper">
      <div
        class="swiper-slide s-hero__slide"
        style="
          background: url(&quot;@img/hero.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="container">
          <div class="s-hero__slide-body">
            <div class="s-hero__slide-info">
              <h2 class="s-hero__slide-title">
                Авиационные грузоперевозки по России из Казани
              </h2>
              <p class="s-hero__slide-descr">
                Перевозим груз по России и по всему миру различными видами
                транспорта
              </p>
              <div class="s-hero__adv">
                <div class="s-hero__adv-item">
                  <img
                    src="@img/hero-adv.svg"
                    alt="icon"
                    class="s-hero__adv-icon"
                  />
                  <span>Доставим из Казани по России от 3-х дней</span>
                </div>
                <div class="s-hero__adv-item">
                  <img
                    src="@img/hero-adv.svg"
                    alt="icon"
                    class="s-hero__adv-icon"
                  />
                  <span>Со страхованием грузов и бесплатным хранением</span>
                </div>
              </div>
              <a href="#s-calc" data-anchor class="btn-s _blur s-hero__btn">
                Оставить заявку на бесплатный расчет
              </a>
            </div>
            <a href="@img/hero.jpg" data-fancybox class="s-hero__slide-video">
              <div class="s-hero__video-circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-play"></use>
                </svg>
              </div>
              <span>
                Видео
                <br />
                о компании
              </span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide s-hero__slide"
        style="
          background: url(&quot;@img/hero.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="container">
          <div class="s-hero__slide-body">
            <div class="s-hero__slide-info">
              <h2 class="s-hero__slide-title">
                Авиационные грузоперевозки по России из Казани
              </h2>
              <p class="s-hero__slide-descr">
                Перевозим груз по России и по всему миру различными видами
                транспорта
              </p>
              <div class="s-hero__adv">
                <div class="s-hero__adv-item">
                  <img
                    src="@img/hero-adv.svg"
                    alt="icon"
                    class="s-hero__adv-icon"
                  />
                  <span>Доставим из Казани по России от 3-х дней</span>
                </div>
                <div class="s-hero__adv-item">
                  <img
                    src="@img/hero-adv.svg"
                    alt="icon"
                    class="s-hero__adv-icon"
                  />
                  <span>Со страхованием грузов и бесплатным хранением</span>
                </div>
              </div>
              <a href="#s-calc" data-anchor class="btn-s _blur s-hero__btn">
                Оставить заявку на бесплатный расчет
              </a>
            </div>
            <a href="@img/hero.jpg" data-fancybox class="s-hero__slide-video">
              <div class="s-hero__video-circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-play"></use>
                </svg>
              </div>
              <span>
                Видео
                <br />
                о компании
              </span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide s-hero__slide"
        style="
          background: url(&quot;@img/hero.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="container">
          <div class="s-hero__slide-body">
            <div class="s-hero__slide-info">
              <h2 class="s-hero__slide-title">
                Авиационные грузоперевозки по России из Казани
              </h2>
              <p class="s-hero__slide-descr">
                Перевозим груз по России и по всему миру различными видами
                транспорта
              </p>
              <div class="s-hero__adv">
                <div class="s-hero__adv-item">
                  <img
                    src="@img/hero-adv.svg"
                    alt="icon"
                    class="s-hero__adv-icon"
                  />
                  <span>Доставим из Казани по России от 3-х дней</span>
                </div>
                <div class="s-hero__adv-item">
                  <img
                    src="@img/hero-adv.svg"
                    alt="icon"
                    class="s-hero__adv-icon"
                  />
                  <span>Со страхованием грузов и бесплатным хранением</span>
                </div>
              </div>
              <a href="#s-calc" data-anchor class="btn-s _blur s-hero__btn">
                Оставить заявку на бесплатный расчет
              </a>
            </div>
            <a href="@img/hero.jpg" data-fancybox class="s-hero__slide-video">
              <div class="s-hero__video-circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-play"></use>
                </svg>
              </div>
              <span>
                Видео
                <br />
                о компании
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination s-hero__slider-pagination _white"></div>
  </div>
  <div class="hero-form">
    <div class="hero-form__purpose-buttons">
      <div class="hero-form__purpose-btn _active">Отправить груз</div>
      <div class="hero-form__purpose-btn">
        Рассчитать стоимость авиаперевозки
      </div>
    </div>
    <form action="#" class="hero-form__form">
      <div class="input-control">
        <div class="select">
          <div class="select-btn">
            <input
              type="text"
              placeholder="Откуда вывозить"
              class="input select-input"
            />
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div class="select-body">
            <div class="select-item">Москва</div>
            <div class="select-item">Санкт-Петербург</div>
            <div class="select-item">Казань</div>
            <div class="select-item">Красноярск</div>
            <div class="select-item">Екатеринбург</div>
            <div class="select-item">Москва</div>
            <div class="select-item">Санкт-Петербург</div>
            <div class="select-item">Казань</div>
            <div class="select-item">Красноярск</div>
            <div class="select-item">Екатеринбург</div>
          </div>
        </div>
      </div>
      <div class="input-control">
        <div class="select">
          <div class="select-btn">
            <input
              type="text"
              placeholder="Куда доставлять"
              class="input select-input"
            />
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div class="select-body">
            <div class="select-item">Москва</div>
            <div class="select-item">Санкт-Петербург</div>
            <div class="select-item">Казань</div>
            <div class="select-item">Красноярск</div>
            <div class="select-item">Екатеринбург</div>
          </div>
        </div>
      </div>
      <div class="input-control">
        <input type="number" placeholder="Ширина" class="input" />
      </div>
      <div class="input-control">
        <input type="number" placeholder="Высота" class="input" />
      </div>
      <div class="input-control">
        <input type="number" placeholder="Длина" class="input" />
      </div>
      <div class="input-control">
        <input type="number" placeholder="Вес груза" class="input" />
      </div>
      <button class="btn-s _pink hero-form__form-submit">Отправить</button>
      <input
        type="text"
        value="Отправить груз"
        id="hero-purpose-input"
        style="display: none"
      />
    </form>
  </div>
</section>
