<section class="sect-m s-history">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">История нашей компании</h2>
      <div class="slider-nav">
        <div class="slider-nav__btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-nav__btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-history__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-history__slide">
          <img src="@img/history.jpg" alt="image" class="s-history__slide-img" />
          <h5 class="s-history__slide-title">Новая парадигма реальности</h5>
          <p class="content s-history__slide-content">
            Являясь всего лишь частью общей картины, тщательные исследования
            конкурентов смешаны с не уникальными данными до степени совершенной
            неузнаваемости, из-за чего возрастает их статус бесполезности.
          </p>
          <div class="s-history__slide-year">2008 г.</div>
          <svg class="s-history__slide-icon">
            <use xlink:href="img/icons/icons.svg#icon-vector"></use>
          </svg>
        </div>
        <div class="swiper-slide s-history__slide">
          <img src="@img/history.jpg" alt="image" class="s-history__slide-img" />
          <h5 class="s-history__slide-title">Новая парадигма реальности</h5>
          <p class="content s-history__slide-content">
            Являясь всего лишь частью общей картины, тщательные исследования
            конкурентов смешаны с не уникальными данными до степени совершенной
            неузнаваемости.
          </p>
          <div class="s-history__slide-year">2008 г.</div>
          <svg class="s-history__slide-icon">
            <use xlink:href="img/icons/icons.svg#icon-vector"></use>
          </svg>
        </div>
        <div class="swiper-slide s-history__slide">
          <img src="@img/history.jpg" alt="image" class="s-history__slide-img" />
          <h5 class="s-history__slide-title">Новая парадигма реальности</h5>
          <p class="content s-history__slide-content">
            Являясь всего лишь частью общей картины, тщательные исследования
            конкурентов смешаны с не уникальными данными до степени совершенной
            неузнаваемости, из-за чего возрастает их статус бесполезности.
          </p>
          <div class="s-history__slide-year">2008 г.</div>
          <svg class="s-history__slide-icon">
            <use xlink:href="img/icons/icons.svg#icon-vector"></use>
          </svg>
        </div>
        <div class="swiper-slide s-history__slide">
          <img src="@img/history.jpg" alt="image" class="s-history__slide-img" />
          <h5 class="s-history__slide-title">Новая парадигма реальности</h5>
          <p class="content s-history__slide-content">
            Являясь всего лишь частью общей картины, тщательные исследования
            конкурентов смешаны с не уникальными данными до степени совершенной
            неузнаваемости.
          </p>
          <div class="s-history__slide-year">2008 г.</div>
          <svg class="s-history__slide-icon">
            <use xlink:href="img/icons/icons.svg#icon-vector"></use>
          </svg>
        </div>
        <div class="swiper-slide s-history__slide">
          <img src="@img/history.jpg" alt="image" class="s-history__slide-img" />
          <h5 class="s-history__slide-title">Новая парадигма реальности</h5>
          <p class="content s-history__slide-content">
            Являясь всего лишь частью общей картины, тщательные исследования
            конкурентов смешаны с не уникальными данными до степени совершенной
            неузнаваемости, из-за чего возрастает их статус бесполезности.
          </p>
          <div class="s-history__slide-year">2008 г.</div>
          <svg class="s-history__slide-icon">
            <use xlink:href="img/icons/icons.svg#icon-vector"></use>
          </svg>
        </div>
        <div class="swiper-slide s-history__slide">
          <img src="@img/history.jpg" alt="image" class="s-history__slide-img" />
          <h5 class="s-history__slide-title">Новая парадигма реальности</h5>
          <p class="content s-history__slide-content">
            Являясь всего лишь частью общей картины, тщательные исследования
            конкурентов смешаны с не уникальными данными до степени совершенной
            неузнаваемости.
          </p>
          <div class="s-history__slide-year">2008 г.</div>
          <svg class="s-history__slide-icon">
            <use xlink:href="img/icons/icons.svg#icon-vector"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="slider-pagination _mob"></div>
  </div>
</section>