<section class="s-interest sect-m">
  <div class="container">
    <div class="s-interest__body">
      <h2 class="s-title s-interest__title">
        Заинтересованы в транспортных решениях?
      </h2>
      <form action="#" class="s-interest__form">
        <div class="input-control">
          <input type="text" placeholder="Имя" class="input">
        </div>
        <div class="input-control">
          <input type="tel" placeholder="Номер телефона" class="input">
        </div>
        <span class="wpcf7-form-control-wrap">
          <span class="wpcf7-form-control wpcf7-acceptance">
            <span class="wpcf7-list-item">
              <label>
                <input type="checkbox" class="input-check" checked required />
                <span class="wpcf7-list-item-label">
                  <span>
                    Я&nbsp;соглашаюсь с
                    <a href="/personal-data" target="_blank">
                      Политикой обработки персональных данных
                    </a>
                    и
                    <a href="/privacy-policy" target="_blank">
                      Политикой конфиденциальности
                    </a>
                  </span>
                </span>
              </label>
            </span>
          </span>
        </span>
        <button class="btn-s _pink s-interest__form-send">Оставить заявку</button>
      </form>
    </div>
  </div>
</section>
