<section class="s-interest sect-m">
  <div class="container">
    <div class="s-interest__body">
      <h2 class="s-title s-interest__title">
        Заинтересованы в транспортных решениях?
      </h2>
      <form action="#" class="s-interest__form">
        <div class="input-control">
          <input type="text" placeholder="Имя" class="input" />
        </div>
        <div class="input-control">
          <input type="tel" placeholder="Номер телефона" class="input" />
        </div>
        <label class="check-wrapper">
          <input type="checkbox" class="input-check" required />
          <span class="label-check">
            <span>
              Я&nbsp;соглашаюсь с
              <a href="/personal-data" target="_blank">
                Политикой обработки персональных данных
              </a>
              и
              <a href="/privacy-policy" target="_blank">
                Политикой конфиденциальности
              </a>
            </span>
          </span>
        </label>
        <button class="btn-s _pink s-interest__form-send">
          Оставить заявку
        </button>
      </form>
    </div>
  </div>
</section>
