<section class="s-info sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Какой груз нужно упаковывать обязательно</h2>
      <div class="slider-nav">
        <div class="slider-nav__btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-nav__btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-info__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-info__slide">
          <p class="content s-info__slide-content">
            Хрупкий груз (выставочные экспонаты, сантехника, витрины, кафель,
            изделия из всех видов стекла)
          </p>
        </div>
        <div class="swiper-slide s-info__slide">
          <p class="content s-info__slide-content">
            Изделия из пластика (пластиковая тара, электронная бытовая техника)
          </p>
        </div>
        <div class="swiper-slide s-info__slide">
          <p class="content s-info__slide-content">
            Хрупкий груз (выставочные экспонаты, сантехника, витрины, кафель,
            изделия из всех видов стекла)
          </p>
        </div>
        <div class="swiper-slide s-info__slide">
          <p class="content s-info__slide-content">
            Дорогое оборудование и техника (промышленное и медицинское оборудование, автомобили, мотоциклы, снегоходы, катера)
          </p>
        </div>
        <div class="swiper-slide s-info__slide">
          <p class="content s-info__slide-content">
            Хрупкий груз (выставочные экспонаты, сантехника, витрины, кафель,
            изделия из всех видов стекла)
          </p>
        </div>
        <div class="swiper-slide s-info__slide">
          <p class="content s-info__slide-content">
            Изделия из пластика (пластиковая тара, электронная бытовая техника)
          </p>
        </div>
        <div class="swiper-slide s-info__slide">
          <p class="content s-info__slide-content">
            Хрупкий груз (выставочные экспонаты, сантехника, витрины, кафель,
            изделия из всех видов стекла)
          </p>
        </div>
        <div class="swiper-slide s-info__slide">
          <p class="content s-info__slide-content">
            Изделия из пластика (пластиковая тара, электронная бытовая техника)
          </p>
        </div>
      </div>
    </div>
    <div class="slider-pagination _mob"></div>
  </div>
</section>
