<section class="s-jobs sect-m">
  <div class="container">
    <h1 class="m-title">Актуальные вакансии</h1>
    <div class="s-jobs__wrapper">
      <div data-spollers class="s-jobs__main">
        <div class="s-jobs__item">
          <div data-spoller class="s-jobs__item-btn">
            <h5 class="s-jobs__item-title">
              Координатор мультимодальных перевозок (ВЭД)
            </h5>
            <div class="s-jobs__item-price">от 200 000 руб.</div>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div>
            <div class="s-jobs__item-body">
              <div class="s-jobs__item-spec">
                <div class="s-jobs__item-spec-name">Требования</div>
                <div class="s-jobs__item-spec-content">
                  <p>
                    Мы получаем гибкое ценообразование за счет разветвленной
                    сети обслуживания объектов. Мы получаем лучшие условия
                    от производителей уборочного инвентаря и моющих средств, что
                    позволяет делать Клиентам более выгодные предложения.
                  </p>
                </div>
              </div>
              <div class="s-jobs__item-spec">
                <div class="s-jobs__item-spec-name">Условия</div>
                <div class="s-jobs__item-spec-content">
                  <ul>
                    <li>
                      сменный график 2/2, заработная плата от 70 000руб. и выше
                      зависит от отработанных часов;
                    </li>
                    <li>
                      рабочий день с 07.00 до окончания рабочего процесса, обед
                      бесплатный.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="s-jobs__item-spec">
                <div class="s-jobs__item-spec-name">Обязанности</div>
                <div class="s-jobs__item-spec-content">
                  <p>
                    Вот вам яркий пример современных тенденций — убеждённость
                    некоторых оппонентов однозначно фиксирует необходимость
                    прогресса профессионального сообщества. Ясность нашей
                    позиции очевидна: перспективное планирование не даёт нам
                    иного выбора, кроме определения новых принципов формирования
                    материально-технической и кадровой базы.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="s-jobs__item">
          <div data-spoller class="s-jobs__item-btn">
            <h5 class="s-jobs__item-title">
              Главный специалист по международным авиаперевозкам
            </h5>
            <div class="s-jobs__item-price">от 200 000 руб.</div>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div>
            <div class="s-jobs__item-body">
              <div class="s-jobs__item-spec">
                <div class="s-jobs__item-spec-name">Требования</div>
                <div class="s-jobs__item-spec-content">
                  <p>
                    Мы получаем гибкое ценообразование за счет разветвленной
                    сети обслуживания объектов. Мы получаем лучшие условия
                    от производителей уборочного инвентаря и моющих средств, что
                    позволяет делать Клиентам более выгодные предложения.
                  </p>
                </div>
              </div>
              <div class="s-jobs__item-spec">
                <div class="s-jobs__item-spec-name">Условия</div>
                <div class="s-jobs__item-spec-content">
                  <ul>
                    <li>
                      сменный график 2/2, заработная плата от 70 000руб. и выше
                      зависит от отработанных часов;
                    </li>
                    <li>
                      рабочий день с 07.00 до окончания рабочего процесса, обед
                      бесплатный.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="s-jobs__item-spec">
                <div class="s-jobs__item-spec-name">Обязанности</div>
                <div class="s-jobs__item-spec-content">
                  <p>
                    Вот вам яркий пример современных тенденций — убеждённость
                    некоторых оппонентов однозначно фиксирует необходимость
                    прогресса профессионального сообщества. Ясность нашей
                    позиции очевидна: перспективное планирование не даёт нам
                    иного выбора, кроме определения новых принципов формирования
                    материально-технической и кадровой базы.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="s-jobs__item">
          <div data-spoller class="s-jobs__item-btn">
            <h5 class="s-jobs__item-title">
              Специалист по организации авиаперевозок грузов
            </h5>
            <div class="s-jobs__item-price">от 200 000 руб.</div>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div>
            <div class="s-jobs__item-body">
              <div class="s-jobs__item-spec">
                <div class="s-jobs__item-spec-name">Требования</div>
                <div class="s-jobs__item-spec-content">
                  <p>
                    Мы получаем гибкое ценообразование за счет разветвленной
                    сети обслуживания объектов. Мы получаем лучшие условия
                    от производителей уборочного инвентаря и моющих средств, что
                    позволяет делать Клиентам более выгодные предложения.
                  </p>
                </div>
              </div>
              <div class="s-jobs__item-spec">
                <div class="s-jobs__item-spec-name">Условия</div>
                <div class="s-jobs__item-spec-content">
                  <ul>
                    <li>
                      сменный график 2/2, заработная плата от 70 000руб. и выше
                      зависит от отработанных часов;
                    </li>
                    <li>
                      рабочий день с 07.00 до окончания рабочего процесса, обед
                      бесплатный.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="s-jobs__item-spec">
                <div class="s-jobs__item-spec-name">Обязанности</div>
                <div class="s-jobs__item-spec-content">
                  <p>
                    Вот вам яркий пример современных тенденций — убеждённость
                    некоторых оппонентов однозначно фиксирует необходимость
                    прогресса профессионального сообщества. Ясность нашей
                    позиции очевидна: перспективное планирование не даёт нам
                    иного выбора, кроме определения новых принципов формирования
                    материально-технической и кадровой базы.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form action="#" class="s-jobs__form form">
        <div class="input-control">
          <input type="text" placeholder="Ваше имя" class="input" required />
        </div>
        <div class="input-control">
          <div class="select">
            <div class="select-btn">
              <input
                type="text"
                placeholder="Выберите тип доставки"
                class="input select-input"
              />
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div class="select-body">
              <div class="select-item">Москва</div>
              <div class="select-item">Санкт-Петербург</div>
              <div class="select-item">Казань</div>
              <div class="select-item">Красноярск</div>
              <div class="select-item">Екатеринбург</div>
              <div class="select-item">Москва</div>
              <div class="select-item">Санкт-Петербург</div>
              <div class="select-item">Казань</div>
              <div class="select-item">Красноярск</div>
              <div class="select-item">Екатеринбург</div>
            </div>
          </div>
        </div>
        <div class="form-view">
          <div class="input-name">Выберите удобный вид связи</div>
          <div class="input-radios">
            <input
              type="radio"
              id="modal-view-connect-wh"
              checked
              name="modal-view-connect"
              class="input-radio"
            />
            <label
              for="modal-view-connect-wh"
              class="btn-s _outline label-radio"
            >
              WhatsApp
            </label>
            <input
              type="radio"
              id="modal-view-connect-tg"
              name="modal-view-connect"
              class="input-radio"
            />
            <label
              for="modal-view-connect-tg"
              class="btn-s _outline label-radio"
            >
              Telegram
            </label>
            <input
              type="radio"
              id="modal-view-connect-tel"
              name="modal-view-connect"
              class="input-radio"
            />
            <label
              for="modal-view-connect-tel"
              class="btn-s _outline label-radio"
            >
              Звонок
            </label>
            <div class="input-control">
              <input
                type="tel"
                placeholder="Укажите ваш номер телефона"
                class="input"
              />
            </div>
          </div>
        </div>
        <div class="form__bottom">
          <label class="check-wrapper">
            <input type="checkbox" class="input-check" required />
            <span class="label-check">
              <span>
                Я&nbsp;соглашаюсь с
                <a href="/personal-data" target="_blank">
                  Политикой обработки персональных данных
                </a>
                и
                <a href="/privacy-policy" target="_blank">
                  Политикой конфиденциальности
                </a>
              </span>
            </span>
          </label>
          <button class="btn-s _pink form__send _fill">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</section>
