<section class="s-order sect-m">
  <div class="container">
    <div class="s-order__wrapper">
      <div class="s-order__body">
        <h2 class="s-title s-order__title">
          Заказать международную грузоперевозку
        </h2>
        <p class="content s-order__content">
          Если у Вас есть вопросы или Вы хотите сделать заявку, просто заполните
          контактную форму, и мы ответим вам в ближайшее время
        </p>
        <form action="#" class="s-order__form js-form">
          <div class="input-control">
            <input type="text" placeholder="Ваше имя" class="input" />
          </div>
          <div class="s-order__form-connect">
            <div class="input-name">Выберите удобный вид связи</div>
            <div class="input-radios">
              <input
                type="radio"
                checked
                name="order-view-connect"
                id="order-view-connect-wh"
                class="input-radio"
              />
              <label
                for="order-view-connect-wh"
                class="btn-s _outline label-radio"
              >
                WhatsApp
              </label>

              <input
                type="radio"
                name="order-view-connect"
                id="order-view-connect-tg"
                class="input-radio"
              />
              <label
                for="order-view-connect-tg"
                class="btn-s _outline label-radio"
              >
                Telegram
              </label>

              <input
                type="radio"
                name="order-view-connect"
                id="order-view-connect-call"
                class="input-radio"
              />
              <label
                for="order-view-connect-call"
                class="btn-s _outline label-radio"
              >
                Звонок
              </label>

              <div class="input-control">
                <input
                  type="tel"
                  placeholder="Укажите ваш номер телефона"
                  class="input"
                />
              </div>
            </div>
          </div>
          <div class="s-order__form-bottom">
            <label class="check-wrapper">
              <input type="checkbox" class="input-check" required />
              <span class="label-check">
                <span>
                  Я&nbsp;соглашаюсь с
                  <a href="/personal-data" target="_blank">
                    Политикой обработки персональных данных
                  </a>
                  и
                  <a href="/privacy-policy" target="_blank">
                    Политикой конфиденциальности
                  </a>
                </span>
              </span>
            </label>
            <button class="btn-s _pink s-order__form-send">Отправить</button>
          </div>
        </form>
      </div>
      <div class="s-order__body _primary">
        <h2 class="s-title s-order__title">Доверьте нам доставку товара</h2>
        <ul class="list s-order__list">
          <li class="content">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-check-circle"></use>
            </svg>
            <span>Пример условия доставки</span>
          </li>
          <li class="content">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-check-circle"></use>
            </svg>
            <span>
              Картельные сговоры не допускают ситуации, при которой акционеры
              крупнейших компаний ограничены исключительно образом мышления
            </span>
          </li>
          <li class="content">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-check-circle"></use>
            </svg>
            <span>
              Современные технологии достигли такого уровня, что понимание сути
              ресурсосберегающих технологий требует определения и уточнения как
              самодостаточных, так и внешне зависимых концептуальных решений
            </span>
          </li>
          <li class="content">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-check-circle"></use>
            </svg>
            <span>Пример условия доставки</span>
          </li>
          <li class="content">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-check-circle"></use>
            </svg>
            <span>
              Картельные сговоры не допускают ситуации, при которой акционеры
              крупнейших компаний ограничены исключительно образом мышления
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
