<section class="sect-p s-partners bg-gray">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Мы являемся грузовым агентом ведущих авиакомпаний</h2>
    </div>
    <div class="s-partners__grid">
      <a href="#" target="_blank" class="s-partners__grid-item">
        <img src="@img/partner.jpg" alt="image" />
      </a>
      <a href="#" target="_blank" class="s-partners__grid-item">
        <img src="@img/partner.jpg" alt="image" />
      </a>
      <a href="#" target="_blank" class="s-partners__grid-item">
        <img src="@img/partner.jpg" alt="image" />
      </a>
      <a href="#" target="_blank" class="s-partners__grid-item">
        <img src="@img/partner.jpg" alt="image" />
      </a>
      <a href="#" target="_blank" class="s-partners__grid-item">
        <img src="@img/partner.jpg" alt="image" />
      </a>
      <a href="#" target="_blank" class="s-partners__grid-item">
        <img src="@img/partner.jpg" alt="image" />
      </a>
      <a href="#" target="_blank" class="s-partners__grid-item">
        <img src="@img/partner.jpg" alt="image" />
      </a>
      <a href="#" target="_blank" class="s-partners__grid-item">
        <img src="@img/partner.jpg" alt="image" />
      </a>
      <a href="#" target="_blank" class="s-partners__grid-item">
        <img src="@img/partner.jpg" alt="image" />
      </a>
      <a href="#" target="_blank" class="s-partners__grid-item">
        <img src="@img/partner.jpg" alt="image" />
      </a>
      <a href="#" target="_blank" class="s-partners__grid-item">
        <img src="@img/partner.jpg" alt="image" />
      </a>
      <a href="#" target="_blank" class="s-partners__grid-item">
        <img src="@img/partner.jpg" alt="image" />
      </a>
      <a href="#" target="_blank" class="s-partners__grid-item">
        <img src="@img/partner.jpg" alt="image" />
      </a>
      <a href="#" target="_blank" class="s-partners__grid-item">
        <img src="@img/partner.jpg" alt="image" />
      </a>
      <a href="#" target="_blank" class="s-partners__grid-item">
        <img src="@img/partner.jpg" alt="image" />
      </a>
    </div>
  </div>
</section>
