<section class="sect-p s-partners bg-gray">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Мы являемся грузовым агентом ведущих авиакомпаний</h2>
    </div>
    <div class="swiper s-partners__slider">
      <div class="swiper-wrapper">
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/partner.jpg" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/partner.jpg" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/partner.jpg" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/partner.jpg" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/partner.jpg" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/partner.jpg" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/partner.jpg" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/partner.jpg" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/partner.jpg" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/partner.jpg" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/partner.jpg" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/partner.jpg" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/partner.jpg" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/partner.jpg" alt="image" />
        </a>
        <a href="#" target="_blank" class="swiper-slide s-partners__slide">
          <img src="@img/partner.jpg" alt="image" />
        </a>
      </div>
    </div>
  </div>
</section>
