<section class="sect-m s-services">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Какие услуги мы предоставляем</h2>
      <div class="slider-nav">
        <div class="slider-nav__btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-nav__btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-services__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-services__slide">
          <div class="card-service">
            <img
              src="@img/service-icon.png"
              alt="icon"
              class="card-service__icon"
            />
            <div class="card-service__body">
              <ul class="list card-service__list">
                <li><a href="#">Генеральные грузы</a></li>
                <li><a href="#">Грузы требующие температурного режима</a></li>
                <li><a href="#">Опасные грузы</a></li>
                <li><a href="#">Оформление декларации опасных грузов</a></li>
                <li><a href="#">Срочные авиаперевозки</a></li>
                <li><a href="#">Отправка документов</a></li>
              </ul>
              <a href="#" class="card-service__title">
                <span>Авиаперевозки</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-services__slide">
          <div class="card-service">
            <img
              src="@img/service-icon.png"
              alt="icon"
              class="card-service__icon"
            />
            <div class="card-service__body">
              <ul class="list card-service__list">
                <li><a href="#">Генеральные грузы</a></li>
                <li><a href="#">Грузы требующие температурного режима</a></li>
                <li><a href="#">Опасные грузы</a></li>
                <li><a href="#">Оформление декларации опасных грузов</a></li>
                <li><a href="#">Срочные авиаперевозки</a></li>
                <li><a href="#">Отправка документов</a></li>
              </ul>
              <a href="#" class="card-service__title">
                <span>Авиаперевозки</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-services__slide">
          <div class="card-service">
            <img
              src="@img/service-icon.png"
              alt="icon"
              class="card-service__icon"
            />
            <div class="card-service__body">
              <ul class="list card-service__list">
                <li><a href="#">Генеральные грузы</a></li>
                <li><a href="#">Грузы требующие температурного режима</a></li>
                <li><a href="#">Опасные грузы</a></li>
                <li><a href="#">Оформление декларации опасных грузов</a></li>
                <li><a href="#">Срочные авиаперевозки</a></li>
                <li><a href="#">Отправка документов</a></li>
              </ul>
              <a href="#" class="card-service__title">
                <span>Авиаперевозки</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-services__slide">
          <div class="card-service">
            <img
              src="@img/service-icon.png"
              alt="icon"
              class="card-service__icon"
            />
            <div class="card-service__body">
              <ul class="list card-service__list">
                <li><a href="#">Генеральные грузы</a></li>
                <li><a href="#">Грузы требующие температурного режима</a></li>
                <li><a href="#">Опасные грузы</a></li>
                <li><a href="#">Оформление декларации опасных грузов</a></li>
                <li><a href="#">Срочные авиаперевозки</a></li>
                <li><a href="#">Отправка документов</a></li>
              </ul>
              <a href="#" class="card-service__title">
                <span>Авиаперевозки</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-services__slide">
          <div class="card-service">
            <img
              src="@img/service-icon.png"
              alt="icon"
              class="card-service__icon"
            />
            <div class="card-service__body">
              <ul class="list card-service__list">
                <li><a href="#">Генеральные грузы</a></li>
                <li><a href="#">Грузы требующие температурного режима</a></li>
                <li><a href="#">Опасные грузы</a></li>
                <li><a href="#">Оформление декларации опасных грузов</a></li>
                <li><a href="#">Срочные авиаперевозки</a></li>
                <li><a href="#">Отправка документов</a></li>
              </ul>
              <a href="#" class="card-service__title">
                <span>Авиаперевозки</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-services__slide">
          <div class="card-service">
            <img
              src="@img/service-icon.png"
              alt="icon"
              class="card-service__icon"
            />
            <div class="card-service__body">
              <ul class="list card-service__list">
                <li><a href="#">Генеральные грузы</a></li>
                <li><a href="#">Грузы требующие температурного режима</a></li>
                <li><a href="#">Опасные грузы</a></li>
                <li><a href="#">Оформление декларации опасных грузов</a></li>
                <li><a href="#">Срочные авиаперевозки</a></li>
                <li><a href="#">Отправка документов</a></li>
              </ul>
              <a href="#" class="card-service__title">
                <span>Авиаперевозки</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-rotate"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination _media"></div>
  </div>
</section>
