<section class="s-stages sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Этапы таможенного оформления товара</h2>
    </div>
    <div class="s-stages__grid">
      <div class="s-stages__item">
        <div class="s-stages__item-num">
          1
          <span>этап</span>
        </div>
        <p class="s-stages__item-content">
          Сбор и анализ всех необходимых сопроводительных документов на груз,
          описание товара.
        </p>
      </div>
      <div class="s-stages__item">
        <div class="s-stages__item-num">
          2
          <span>этап</span>
        </div>
        <p class="s-stages__item-content">
          Классификация товара согласно товарной номенклатуры — определение
          кодов ТНВЭД ЕАЭС.
        </p>
      </div>
      <div class="s-stages__item">
        <div class="s-stages__item-num">
          3
          <span>этап</span>
        </div>
        <p class="s-stages__item-content">
          Проверка применения нетарифных мер регулирования к классифицируемым
          товарам.
        </p>
      </div>
      <div class="s-stages__item">
        <div class="s-stages__item-num">
          4
          <span>этап</span>
        </div>
        <p class="s-stages__item-content">
          Сбор и анализ всех необходимых сопроводительных документов на груз,
          описание товара.
        </p>
      </div>
      <div class="s-stages__item">
        <div class="s-stages__item-num">
          5
          <span>этап</span>
        </div>
        <p class="s-stages__item-content">
          Классификация товара согласно товарной номенклатуры — определение
          кодов ТНВЭД ЕАЭС.
        </p>
      </div>
      <div class="s-stages__item">
        <div class="s-stages__item-num">
          6
          <span>этап</span>
        </div>
        <p class="s-stages__item-content">
          Проверка применения нетарифных мер регулирования к классифицируемым
          товарам.
        </p>
      </div>
      <div class="s-stages__item">
        <div class="s-stages__item-num">
          7
          <span>этап</span>
        </div>
        <p class="s-stages__item-content">
          Классификация товара согласно товарной номенклатуры — определение
          кодов ТНВЭД ЕАЭС.
        </p>
      </div>
      <div class="s-stages__item">
        <div class="s-stages__item-num">
          8
          <span>этап</span>
        </div>
        <p class="s-stages__item-content">
          Выпуск товара в свободное обращение.
        </p>
      </div>
    </div>
  </div>
</section>
