<section class="sect-m s-steps">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Пошаговая логистика</h2>
      <div class="slider-nav">
        <div class="slider-nav__btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-nav__btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-steps__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-steps__slide">
          <div class="rect-decor _primary-l s-steps__slide-num">1</div>
          <h5 class="s-steps__slide-title">Экспортное таможенное оформление</h5>
          <p class="content s-steps__slide-content">
            Картельные сговоры не допускают ситуации, при которой акционеры
            крупнейших компаний ограничены исключительно образом мышления.
          </p>
        </div>
        <div class="swiper-slide s-steps__slide">
          <div class="rect-decor _primary-l s-steps__slide-num">2</div>
          <h5 class="s-steps__slide-title">
            Сдача груза в аэропорту отправления
          </h5>
          <p class="content s-steps__slide-content">
            Современные технологии достигли такого уровня, что понимание сути
            ресурсосберегающих технологий требует определения и уточнения как
            самодостаточных, так и внешне зависимых концептуальных решений.
          </p>
        </div>
        <div class="swiper-slide s-steps__slide">
          <div class="rect-decor _primary-l s-steps__slide-num">3</div>
          <h5 class="s-steps__slide-title">Закрытие таможенных режимов</h5>
          <p class="content s-steps__slide-content">
            Лишь ключевые особенности структуры проекта, превозмогая сложившуюся
            непростую экономическую ситуацию, рассмотрены исключительно в
            разрезе маркетинговых и финансовых предпосылок.
          </p>
        </div>
        <div class="swiper-slide s-steps__slide">
          <div class="rect-decor _primary-l s-steps__slide-num">4</div>
          <h5 class="s-steps__slide-title">Экспортное таможенное оформление</h5>
          <p class="content s-steps__slide-content">
            Картельные сговоры не допускают ситуации, при которой акционеры
            крупнейших компаний ограничены исключительно образом мышления.
          </p>
        </div>
        <div class="swiper-slide s-steps__slide">
          <div class="rect-decor _primary-l s-steps__slide-num">5</div>
          <h5 class="s-steps__slide-title">
            Сдача груза в аэропорту отправления
          </h5>
          <p class="content s-steps__slide-content">
            Современные технологии достигли такого уровня, что понимание сути
            ресурсосберегающих технологий требует определения и уточнения как
            самодостаточных, так и внешне зависимых концептуальных решений.
          </p>
        </div>
        <div class="swiper-slide s-steps__slide">
          <div class="rect-decor _primary-l s-steps__slide-num">6</div>
          <h5 class="s-steps__slide-title">Закрытие таможенных режимов</h5>
          <p class="content s-steps__slide-content">
            Лишь ключевые особенности структуры проекта, превозмогая сложившуюся
            непростую экономическую ситуацию, рассмотрены исключительно в
            разрезе маркетинговых и финансовых предпосылок.
          </p>
        </div>
      </div>
    </div>
    <div class="slider-pagination _mob"></div>
  </div>
</section>
