<section class="s-team sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Наша команда</h2>
      <div class="slider-nav">
        <div class="slider-nav__btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-nav__btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="s-team__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-team__slide">
          <div class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <div class="card-team__body">
              <h5 class="card-team__title">Иван Иванов</h5>
              <div class="card-team__status">Должность</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-team__slide">
          <div class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <div class="card-team__body">
              <h5 class="card-team__title">Иван Иванов</h5>
              <div class="card-team__status">Должность</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-team__slide">
          <div class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <div class="card-team__body">
              <h5 class="card-team__title">Иван Иванов</h5>
              <div class="card-team__status">Должность</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-team__slide">
          <div class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <div class="card-team__body">
              <h5 class="card-team__title">Иван Иванов</h5>
              <div class="card-team__status">Должность</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-team__slide">
          <div class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <div class="card-team__body">
              <h5 class="card-team__title">Иван Иванов</h5>
              <div class="card-team__status">Должность</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-team__slide">
          <div class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <div class="card-team__body">
              <h5 class="card-team__title">Иван Иванов</h5>
              <div class="card-team__status">Должность</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-team__slide">
          <div class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <div class="card-team__body">
              <h5 class="card-team__title">Иван Иванов</h5>
              <div class="card-team__status">Должность</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination _mob"></div>
  </div>
</section>
