<section class="s-why sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Для чего это нужно?</h2>
    </div>
    <div class="s-why__grid">
      <div class="s-why__item">
        <img src="@img/why-icon.svg" alt="icon" class="s-why__item-icon">
        <span>Увеличивает производительность всех участников</span>
      </div>
      <div class="s-why__item">
        <img src="@img/why-icon.svg" alt="icon" class="s-why__item-icon">
        <span>Уменьшает транспортные и складские издержки</span>
      </div>
      <div class="s-why__item">
        <img src="@img/why-icon.svg" alt="icon" class="s-why__item-icon">
        <span>Стабилизирует сроки поставок</span>
      </div>
      <div class="s-why__item">
        <img src="@img/why-icon.svg" alt="icon" class="s-why__item-icon">
        <span>Предотвращает избыток или недостаток товарного запаса</span>
      </div>
    </div>
  </div>
</section>