.breadcrumbs {
  padding: 25px 0px;
  border-bottom: 2px solid var(--gray);

  & + section:not(.intro) {
    margin-top: 50px !important;
    @include laptop-min {
      margin-top: 30px !important;
    }
  }
}
.aioseo-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 15px;
}
.aioseo-breadcrumb {
  color: var(--manatee);
  a {
    color: var(--dark);
    transition: color .3s ease;
    @include hover {
      color: var(--primary);
    }
  }
}
.aioseo-breadcrumb-separator {
}