.btn-s {
  @include flex-center;
  width: fit-content;
  cursor: pointer;
  padding: 18px 19px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  outline: none;

  text-align: center;
  font-size: 16px;
  line-height: 21px;
  color: white;

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  @include hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
  }

  @include tablet {
    padding: 14px 20px;
  }

  &._blur {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border-color: white;
    color: white;

    @include hover {
      background-color: white;
      border-color: white;
      color: var(--primary);
    }
  }
  &._pink {
    border-color: var(--pink);
    background-color: var(--pink);
    color: white;

    @include hover {
      color: white;
      background-color: var(--pink-hover);
      border-color: var(--pink-hover);
    }
    &._active {
      color: white;
      background-color: var(--pink-hover);
      border-color: var(--pink-hover);
    }
  }
  &._outline {
    background-color: transparent;
    color: var(--dark);

    @include hover {
      border-color: var(--primary);
      background-color: var(--primary);
      color: white;
    }
    &._active {
      border-color: var(--primary);
      background-color: var(--primary);
      color: white;
    }
  }
  &._white {
    border-color: white;
    background-color: white;
    color: var(--dark);

    @include hover {
      background-color: var(--gray);
      background-color: var(--gray);
      color: var(--dark);
    }
  }
}

.btn-play {
  @include flex-center;
  width: 60px;
  height: 60px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  color: var(--pink);

  transition: transform .3s ease;
  @include hover {
    transform: scale(1.08);
  }

  svg {
    width: 25px;
    height: 25px;
  }
}