.card-service {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border: 1px solid #eef4fb;
  padding: 250px 30px 30px 30px;

  transition: border-color 0.3s ease;
  @include hover {
    border-color: var(--pink);
  }
  @include laptop-middle {
    padding: 25px;
    justify-content: start;
  }
  @include tablet {
    padding: 25px 15px;
  }
  &__icon {
    display: block;
    position: absolute;
    top: -50px;
    right: 30px;
    width: 260px;
    @include laptop-middle {
      width: 180px;
      position: static;
      margin-bottom: 30px;
    }
    @include tablet {
      width: 150px;
      margin-bottom: 25px;
    }
  }
  &__body {
    @include laptop-min {
      margin-top: auto;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include tablet {
      gap: 10px;
    }

    a {
      font-size: 16px;
      text-underline-offset: 3px;
      @include hover {
        text-decoration: underline;
      }
      @include tablet {
        font-size: 15px;
      }
    }
  }
  &__title {
    @include flex-between;
    gap: 15px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
  
    transition: color .3s ease;
    @include hover {
      color: var(--pink);
  
      svg {
        transform: rotate(45deg);
      }
    }
    @include laptop-middle {
      font-size: 22px;
    }
    @include tablet {
      font-size: 20px;
      margin-top: 20px;
    }
  
    svg {
      width: 22px;
      height: 22px;
      color: var(--pink);
      flex-shrink: 0;

      transition: transform .3s ease;

      @include tablet {
        width: 18px;
        height: 18px;
      }
    }
  }
}
