.input-control {
  width: 100%;
}
.input {
  padding: 20px 30px;
  border: 1px solid #e9eef4;
  background-color: white;
  outline: none;
  width: 100%;

  font-size: 16px;

  transition: border-color 0.3s ease;

  &::placeholder {
    color: #90959e;
  }
  &:focus {
    border-color: var(--primary);
  }

  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @include tablet {
    padding: 15px 20px;
  }
}

.label-check {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;

  font-size: 16px;
  color: #90959e;

  a {
    text-decoration: underline;
    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
  }

  &::before {
    content: "";
    flex-shrink: 0;
    background-color: white;
    width: 22px;
    height: 22px;
    border: 1px solid #e9eef4;

    transition:
      background-color 0.3s ease,
      border-color 0.3s ease;
  }
}

.input-radio {
  display: none;
  min-height: 60px;

  &:checked + .btn-s {
    border-color: var(--primary);
    background-color: var(--primary);
    color: white;
  }
}
.label-radio {
  width: 100%;
}
.input-name {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  margin-bottom: 15px;
}

.input-radios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  .label-radio {
    @include tablet-min {
      grid-column: 3 span;
    }
  }
  .input-control {
    grid-column: 3 span;
  }
}

.input-questions {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  row-gap: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  &__views-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    .input-control {
      grid-column: 3 span;
    }
    .btn-s {
      @include tablet {
        grid-column: 3 span;
      }
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 25px;
    @include tablet-min {
      flex-wrap: wrap;
    }
  }
  &__send {
    width: 205px;
    max-width: 100%;
    flex-shrink: 0;
    @include tablet-min {
      width: 100%;
    }

    &._fill {
      width: 100%;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid #e2ebf7;
    padding-top: 20px;
  }
}
