@font-face {
	font-family: Involve;
	font-display: swap;
	src: url("../fonts/Involve-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Involve;
	font-display: swap;
	src: url("../fonts/Involve-MediumOblique.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Involve;
	font-display: swap;
	src: url("../fonts/Involve-BoldOblique.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Involve;
	font-display: swap;
	src: url("../fonts/Involve-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Involve;
	font-display: swap;
	src: url("../fonts/Involve-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Involve;
	font-display: swap;
	src: url("../fonts/Involve-Oblique.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Involve;
	font-display: swap;
	src: url("../fonts/Involve-SemiBoldOblique.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Involve;
	font-display: swap;
	src: url("../fonts/Involve-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
